doctype html
html(lang="en")
    head
        title=title
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body
        .page-wrapper
            h1 Quests
            a(href="/update-cobj") Add to this table
            table.results
                thead
                    tr
                        th Name
                        th Reward
                        th Description
                tbody
                each quest in data
                    tr
                        td
                            a(href=`/update-cobj?id=${quest.id}`) #{quest.properties.name}
                        td $#{quest.properties.reward}
                        td #{quest.properties.description}
