doctype html
html(lang="en")
    head
        title=title
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body
        .page-wrapper
            a(href="/") Return to the homepage
            if error
                .error #{error}
            .form-wrapper
                form(method="POST")
                    input(type="hidden" name="id" value=id)

                    label(for="name") Contact Email
                    input(type="text" name="contactEmail" value=contactEmail)

                    label(for="name") Quest Name
                    input(type="text" name="name" value=quest.name required)

                    label(for="name") Description
                    textarea(name="description" value=quest.description required)

                    label(for="reward") Reward ($)
                    input(type="number" min="0" name="reward" value=quest.reward required)

                    input(type="submit" value="Submit")
